@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* ---------------- HEADER ------------------ */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(rgba(235, 171 ,183, 0.55), rgba(0, 0 ,0, 0.55)), url(https://images.unsplash.com/photo-1582794543462-0d7922e50cf5?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center 0%; 
    background-size: cover;
    position: relative;
}

header picture{
    padding: 10px;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: 15px;
}

header .logo{

    width: auto;
    height: auto;
    width: 100%;
    max-height: 100px;
}

nav {
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}

nav a{
    font-size: 1.2em;
    margin: 15px;
    text-decoration: none;
    color: white;
}


nav a:hover{
    text-decoration: underline #ad727e;
    font-weight: bold;
}

/* ---------------- SECCION PRINCIPAL ---------------- */

.present{
    width: 100%;
    height: 120vh;
    padding:0px;
    display: flex;
    justify-content: space-around;
    background-color: #D4A3B4;
}

.video-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container .text-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

.video-container .text-video p{
    font-weight: 600;
    font-size: 5em;
    color: wheat;
    margin: 100px 100px;
}
